<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Score site</title>
 </head>
 <body>
 <div><a href="http://chebotarmv.pythonanywhere.com/home">Главная</a> -
   <a href="http://chebotarmv.pythonanywhere.com/khl">KHL</a> -
   <a href="http://chebotarmv.pythonanywhere.com/archivekhl">KHL Archive</a> -
   <a href="http://chebotarmv.pythonanywhere.com/makekhldata"
   target="_blank">Внести КХЛ данные</a> -
   <a href="http://chebotarmv.pythonanywhere.com/nhl">NHL</a> -
   <a href="http://chebotarmv.pythonanywhere.com/archivenhl">NHL Archive</a> -
   <a href="http://chebotarmv.pythonanywhere.com/makenhldata"
   target="_blank">Внести НХЛ данные</a> </div>
 <div>
     {% block content %}
     {% endblock %}
 </div>
 </body>