<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Score site</title>
 </head>
 <body>
 <div>
     {% url 'home_page' as home %}
     <a href="{{home}}">Главная</a> -
     {% url 'khl' as khl %}
     <a href="{{khl}}">KHL</a> -
     {% url 'khl_archive' as khl_archive %}
     <a href="{{khl_archive}}">KHL Archive</a> -
     {% url 'make_khl_data' as make_khl_data %}
     <a href="{{make_khl_data}}" target="_blank">Внести КХЛ данные</a> -
     {% url 'nhl' as nhl %}
     <a href="{{nhl}}">NHL</a> -
     {% url 'nhl_archive' as nhl_archive %}
     <a href="{{nhl_archive}}">NHL Archive</a> -
     {% url 'make_nhl_data' as make_nhl_data %}
     <a href="{{make_nhl_data}}" target="_blank">Внести НХЛ данные</a> - </div>
 <div>
     {% block content %}
     {% endblock %}
 </div>
 </body>